// 
// Colors
// 

// Override Bootstrap color systel colors

$blue: #2937f0;
$purple: #9f1ae2;
$black: #000000;
$magenta: #C51E52;

// Override Bootstrap default state colors

$primary: #C51E52;
$secondary: $black;
$tertiary:#990033;